# komentáø – toto je ignorováno
# p/TODO # ignoruj soubor TODO pouze v koøenovém adresáøi, ne v podadresáøích
# ignoruji složku export a import + soubory v tìchto složkách
# slozky statistika, export, import jsu potrebne pro bech programu!!!
#
/export/*.xml
/statistika/*.txt
!/statisti/info.txt
/import/*.xml